@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

/* ---------------------Global CSS------------------------ */
body {
  font-family: 'Segoe UI', sans-serif;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

/* ---------------------Srollbar CSS------------------------ */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e0e0;
}

.remove-input-txt-border input[type='text']:focus {
  box-shadow: none;
}
